{% extends 'base.html.twig' %}

{% block title %}
  {{ parent() }} - Hello IndexController!
{% endblock %}

{% block body %}
  <h1 class="text-4xl font-bold text-center my-6 dark:text-erynn">Accueil</h1>

  <ul class="flex flex-col gap-2 justify-center">
    {% for cat in categories %}
      <li class="p-4 bg-gray-800 text-white shadow-xl uppercase text-2xl">
        <a href="{{ path('category_item', { id: cat.id }) }}">{{ cat.name }}</a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
